data/*
!data/codebooks/
!data/processed/

consentforms/

# These files are too big
similarity_cognitive_models_15.rds
similarity_cognitive_models_30.rds
similarity_cognitive_models_50.rds
similarity_pars_likelihoods.csv

*.loc
*.aux
*.log
*.out
*.soc
*.ttt
*cache

*.docx
*.pdf

!/analyses/figures/*.pdf

_R1_manuscript.tex

.Rproj.user
